@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
  background-color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Righteous", cursive;
}

#app {
  position: absolute;
  z-index: 0;
}

#XYControllerMove {
  position: absolute;
  width: 180px;
  height: 180px;
  left: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.1);
  display: none;
  z-index: 50;
}

#XYControllerLook {
  position: absolute;
  width: 180px;
  height: 180px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.1);
  display: none;
  z-index: 50;
}
